*,*::after,*::before {
	margin: 0;
	padding: 0;
}
.box {
	width: 300px;
	height: 300px;
	border: 1px solid red;
	background: -webkit-linear-gradient(30deg , yellow, green, blue, pink);
	background: -moz-linear-gradient(30deg , yellow, green, blue, pink);
	background: linear-gradient(30deg , yellow, green, blue, pink);

/* 	-webkit-transform: translate(100px, 10px);
	-moz-transform: translate(100px, 10px);
	transform: translate(100px, 10px); */

/* 	position: relative;
	top: 10px;
	bottom: 100px; */

	/* -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
 */
 /* 	-webkit-transform: scale(2, 3);
 	-moz-transform: scale(2, 3);
 	-ms-transform: scale(2, 3);
	transform: scale(2, 3); */
	/* -webkit-transform: skew(30deg, 30deg);
	-moz-transform: skew(30deg, 30deg);
	transform: skew(30deg, 30deg); */
	-webkit-transition: all 10s ease 0s;
	-moz-transition: all 10s ease 0s;
	transition: all 10s ease 0s;

	-webit-animation: myAnimation 10s ease 0s infinite alternate;
	-moz-animation: myAnimation 10s ease 0s infinite alternate;
	animation: myAnimation 10s ease 0s infinite alternate;
	position: relative;
}
.box:hover {
	transform: rotate(90deg);
	/* margin-left: 500px; */
}
@-webkit-keyframes myAnimation {
	from {
		left: 0px;
	}
	to {
		left: 500px;
	}
}
@keyframes myAnimation {
	from {
		left: 0px;
	}
	to {
		left: 500px;
	}
}

.text-overflow {
	width: 150px;
	height: 100px;
}
.text-overflow p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}






