*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	/* 1rem = 10px */
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1;
}
:root {
	--bgColor: #5F5F5F;
	--textColor: #FFFFFF;
	--hoverColor: #000000;
}
a {
	text-decoration: none;
	color: var(--textColor);
	text-transform: uppercase;
	font-size: 1.8rem;
}
.nav {
	width: 100%;
	min-height: 4.5rem;
	background-color: var(--bgColor);
	display: flex;
	align-items: center;
}
.nav__menu {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.nav__item {
	padding: 0px 1.6rem;
	position: relative;
	line-height: 4.5rem;
}
/* CSS menu drop-down */
.nav__dropdown {
	display: none;
	width: 20rem;
	background-color: var(--bgColor);
	position: absolute;
	top: 4.5rem;
	left: 0;
}
.nav__item:hover .nav__dropdown {
	display: block;
}


