/* setting css basic */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	/* hack cho cac trinh duyet */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	/* 1rem = 10px */
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1;
}
:root {
	--text-color: white;
	--bg-color: #1A1A1A;
	--hover-color: #C3A302;
	--bg-hover: #2A2A2A;
}
a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--text-color);
	font-size: 1.4rem;
}

.nav {
	width: 100%;
	background-color: var(--bg-color);
	min-height: 4.5rem;
	border-top: 0.3rem solid var(--hover-color);
	display: flex;
	align-items: center;
}
.container {
	width: 98rem;
	margin: auto;
}
.nav__menu {
	display: flex;
	justify-content: space-around;
}
.nav__item {
	line-height: 4.5rem;
	padding: 0 1.5rem;
	position: relative;
}
.nav__item:hover {
	background-color: var(--bg-hover);
}
.nav__item:hover > .nav__link {
	color: var(--hover-color);
}
/* menu drop-down */
.nav__dropdown {
	display: none;
	min-width: 65rem;
	background-color: var(--bg-color);
	position: absolute;
	top: 4.5rem;
	left: 0;
}
.nav__dropdown a.nav__link {
	text-transform: lowercase;
}

.nav__item:hover > .nav__dropdown {
	display: table;
}
.nav__dropdown > .nav__dropdown-menu {
	display: table-row;
}
.nav__dropdown-menu > .nav__item {
	display: table-cell;
}
/* Responsive */
@media only all and (max-width: 667px) {
	/* an menu di va hien thi icon */
	.show-hide-icon {
		display: block;
	}
	.nav {
		display: none;
	}
}
@media only all and (min-width: 668px) {
	/* an icon di va hien thi menu */
	.show-hide-icon {
		display: none;
	}
	.nav {
		display: block;
	}
}





